<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meng.user.repository.system.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="com.meng.user.repository.system.entity.PermissionDO">
        <id column="permission_id" property="permissionId" />
        <result column="permission_name" property="permissionName" />
        <result column="description" property="description" />
        <result column="parent_id" property="parentId" />
        <result column="url" property="url" />
        <result column="operation" property="operation" />
        <result column="type" property="type" />
        <result column="sort" property="sort" />
        <result column="icon" property="icon" />
        <result column="is_activation" property="activation" />
        <result column="create_time" property="createTime" />
        <result column="modified_time" property="modifiedTime" />
    </resultMap>

    <sql id="Base_Column_List">
        permission_id,
        permission_name,
        description,
        parent_id,
        url,
        operation,
        type,
        sort,
        icon,
        is_activation,
        create_time,
        modified_time
    </sql>

    <sql id="T1_Column_List">
        t1.permission_id,
        t1.permission_name,
        t1.description,
        t1.parent_id,
        t1.url,
        t1.operation,
        t1.type,
        t1.sort,
        t1.icon,
        t1.is_activation,
        t1.create_time,
        t1.modified_time
    </sql>

    <select id="listPermissions" resultMap="BaseResultMap" parameterType="long">
        SELECT
            <include refid="T1_Column_List"/>
        FROM
            sys_permission as t1 LEFT JOIN
            sys_role_permission as t2 on t1.permission_id = t2.permission_id
        WHERE
            t2.role_id = #{roleId}
    </select>

</mapper>
